<div class="container">
  <div class="row">
    <div class="col text-center">
      <img src="foto.jpg" alt="Black Cat" style="width: 500px" />
      <h1 class="display-4">Feri Teja Kusuma</h1>
      <p class="lead">User</p>
    </div>
  </div>
</div>
